<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DevOps Task Manager</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <header>

        <h1>🚀 DevOps Task Manager</h1>

        <p>Flask • PostgreSQL • Docker • AWS • Terraform • Ansible</p>

    </header>


    <div class="cards">

        <div class="card">

            <h2>Create Project</h2>

            <form action="/add_project" method="POST">

                <input
                        type="text"
                        name="project_name"
                        placeholder="Project name..."
                        required>

                <button>Create Project</button>

            </form>

        </div>


        <div class="card">

            <h2>Create Task</h2>

            <form action="/add_task" method="POST">

                <input
                        type="text"
                        name="task_title"
                        placeholder="Task title..."
                        required>

                <select name="project_id">

                    {% for project in projects %}

                    <option value="{{ project.id }}">
                        {{ project.name }}
                    </option>

                    {% endfor %}

                </select>

                <button>Create Task</button>

            </form>

        </div>

    </div>


    <div class="projects">

        {% for project in projects %}

        <div class="project-card">

            <h2>{{ project.name }}</h2>

            <p>{{ project.created_at.strftime("%d %B %Y") }}</p>

            <div class="task-list">

                {% for task in tasks %}

                    {% if task.project_id == project.id %}

                    <div class="task">

                        {% if task.completed %}

                        <span class="done">

                            ✔ {{ task.title }}

                        </span>

                        {% else %}

                        <span>

                            {{ task.title }}

                        </span>

                        <a href="/complete/{{ task.id }}">

                            Complete

                        </a>

                        {% endif %}

                    </div>

                    {% endif %}

                {% endfor %}

            </div>

        </div>

        {% endfor %}

    </div>

</div>

</body>

</html>